{% extends 'base.html' %}

{% block title %}Home - Linear Regression Web App{% endblock %}

{% block content %}
    <h1>Linear Regression Web App</h1>
    <br>

    <!-- File upload form -->
    <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
        <label for="file">Upload CSV file</label>
        <input type="file" name="file" id="file" required>
        <button type="submit">Submit</button>
    </form>

    <!-- Display any flashed messages (e.g., errors) -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Display the plot if filename is provided -->
    {% if filename %}
        <h2>Result:</h2>
        <img src="{{ url_for('static', filename=filename) }}" alt="Plot">

        <a href="{{ url_for('download_file', filename=filename) }}" download="{{ filename }}" class="download-btn">Download Plot</a>
    {% endif %}
{% endblock %}
